@font-face {
  font-family: 'The Year of Handicrafts';
  src: url('/the_year_of_handicrafts/the_year_of_handicrafts_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'The Year of Handicrafts';
  src: url('/the_year_of_handicrafts/the_year_of_handicrafts_regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-bg: #FFFAF5;
  --color-bg-alt: #f5f0e8;
  --color-text: #3d3d3d;
  --color-text-muted: #5c5347;
  --color-accent: #8b5a2b;
  --color-accent-dark: #6d4522;
  --color-btn-primary: #ffdab9;

  font-family: "Source Sans 3", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-text);
  background-color: var(--color-bg);
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s;
}

button:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}
